<!doctype html>
<html class="gridlines" data-theme="light">
  <head>
    <title>SSSG</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/assets/css/open-props.min.css" />
    <link
      rel="stylesheet"
      href="/assets/css/normalize.min.css"
    />
    <link
      rel="stylesheet"
      href="/assets/css/buttons.min.css"
    />

    <link href="/assets/css/custom.css" rel="stylesheet" />
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/gh/vanjs-org/van/public/van-1.2.8.nomodule.min.js"
    ></script>
    <script src="//unpkg.com/alpinejs" defer></script>
  </head>

  <body>
    <header class="container">
      <nav>
        <ul>
          <li class="brand">
            <a href="/">simple</a>
          </li>
        </ul>
        <ul>
          <li>
            <a href="https://open-props.style" target="_blank">Open Props</a>
          </li>
          <li>
            <a href="https://alpinejs.dev" target="_blank">Alpine JS</a>
          </li>
          <li>
            <a href="https://vanjs.org" target="_blank">VanJS</a>
          </li>
        </ul>
      </nav>
    </header>

    <main class="container">
      <slot></slot>
    </main>

    <footer class="container">
      <h4>simple, 2024</h4>
    </footer>
  </body>
</html>
