/* Basic.css  */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Typography */
  --base-font-size: 18px;
  --sans: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Droid Sans, Helvetica Neue, Fira Sans, sans-serif;
  --mono: SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier,
    "Courier New", monospace;

  /* Colors */
  --brand: #0074d9;
  --accent: #7200d9;
  --surface-1: #f8f8f8;
  --surface-2: #e0e0e0;
  --white: #fff;
  --black: #000;
  --box-shadow-opacity: 0.3;

  /* Spacing */
  --size-0_1: 0.1rem;
  --size-0_25: 0.25rem;
  --size-0_4: 0.4rem;
  --size-0_5: 0.5rem;
  --size-0_8: 0.8rem;
  --size-1: 1rem;
  --size-1-5: 1.5rem;
  --size-2: 2rem;
  --size-3: 3rem;
  --size-4: 4rem;
  --size-6: 6rem;
  --size-8: 8rem;
  --radius: 0.25rem;
  --page-width: min(100% - 2em, 1200px);

  /* Other */
  --transition-delay: 300ms;
}

@media (prefers-color-scheme: dark) {
  :root {
    --brand: skyblue;
    --accent: #dec6f3;
    --surface-1: #2a2a2a;
    --surface-2: #505050;
    --white: #1e1f20;
    --black: #fff;
    --box-shadow-opacity: 0.6;
  }
}

:where(html) {
  font-size: var(--base-font-size);
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* General settings */

:where(body) {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
  font-family: var(--sans);
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  background-color: var(--white);
  color: var(--black);
  min-height: 100vh;
}

:where(p) {
  margin-block-end: var(--size-1);
}

:where(main) {
  grid-area: main;
  width: var(--page-width);
  margin-inline: auto;
}

:where(header) {
  grid-area: header;
}

:where(header > nav) {
  display: flex;
  justify-content: space-between;
  margin-block: var(--size-1);
  margin-inline: auto;
  width: var(--page-width);
}

:where(header > nav > ul) {
  display: flex;
  column-gap: var(--size-2);
  list-style: none;
}

:where(header > nav li) {
  margin-block: var(--size-1);
}

:where(section.hero > .eyebrow) {
  font-size: var(--size-1);
  font-weight: 600;
  letter-spacing: 1.3px;
  text-align: center;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

:where(section).hero {
  margin-inline: auto;
  width: var(--page-width);
  display: grid;
  place-items: center;
  margin-block: var(--size-6) var(--size-8);
}

:where(section.hero > h1) {
  line-height: 1.2;
  margin-inline: auto;
  text-align: center;
}

:where(section.hero) > h4 {
  font-weight: 400;
  text-wrap: balance;
  max-width: 32ch;
  text-align: center;
}

:where(img),
:where(iframe) {
  border: none;
  display: block;
  max-width: 100%;
}

:where(a) {
  color: var(--accent);
  text-decoration: none;
  transition: var(--transition-delay);
}

:where(a:hover) {
  color: var(--accent);
  text-decoration: underline;
}

:where(pre) {
  font: var(--size-1) / 1.6 var(--mono);
  background: var(--surface-1);
  padding: var(--size-1);
  overflow: auto;
}

:where(code) {
  font: var(--size-1) / 1.6 var(--mono);
  background: var(--surface-2);
  padding-block: var(--size-0_1) (--size-1);
  padding-inline: var(--size-0_5);
}

:where(blockquote) {
  border-left: 5px solid var(--surface-1);
  padding: var(--size-1) var(--size-1-5);
  margin: 0;
}

:where(hr) {
  border: 0;
  border-bottom: 1px solid var(--black);
}

:where(ol),
:where(ul) {
  padding-inline-start: var(--size-1);
}

:where(ol > li:not(:first-child)),
:where(ul > li:not(:first-child)) {
  margin-block-start: var(--size-1);
}

:where(footer) {
  grid-area: footer;
  margin-block: var(--size-2);
  margin-inline: auto;
  text-align: center;
  text-transform: none;
  width: 100%;
}

:where(.number) {
  font-variant-numeric: tabular-nums;
}

/* Headlines */

:where(h1),
:where(h2),
:where(h3),
:where(h4),
:where(h5),
:where(h6) {
  margin: var(--size-0_5) 0;
  font-weight: 800;
  line-height: var(--size-1);
}

:where(h1) {
  font-size: 2.625rem;
  line-height: 1.3em;
}

:where(h2) {
  font-size: 1.625rem;
  line-height: 2.5em;
}

:where(h3) {
  font-size: 1.3125rem;
  line-height: 1.8rem;
}

:where(h4) {
  font-size: 1.1875rem;
  line-height: 1.5rem;
}

:where(h5),
:where(h6) {
  font-size: var(--size-1);
  line-height: var(--size-1_5);
  font-weight: bold;
  text-transform: uppercase;
}

/* Table */

:where(table) {
  border-collapse: collapse;
  border-spacing: 0;
  margin: var(--size-1) 0;
}

:where(th),
:where(td) {
  text-align: left;
  vertical-align: top;
  border: 1px solid;
  padding: var(--size-0_5);
}

:where(thead),
:where(tfoot) {
  background: var(--surface-1);
}

/* Rounded Corners*/

:where(pre),
:where(code),
:where(input),
:where(select),
:where(textarea),
:where(button),
:where(img) {
  border-radius: var(--radius);
  accent-color: var(--brand);
  caret-color: var(--brand);
}

/* Forms */

:where(input),
:where(select),
:where(textarea) {
  font-size: var(--size-1);
  color: var(--black);
  background: var(--surface-1);
  border: 0;
  padding: var(--size-0_5);
}

:where(article input),
:where(article select),
:where(article textarea) {
  background: var(--surface-2);
}

:where(button),
:where(input[type="submit"]),
:where(input[type="reset"]),
:where(input[type="button"]) {
  -webkit-appearance: none;
  font-size: var(--size-1);
  display: inline-block;
  color: var(--white);
  background: var(--brand);
  border: 0;
  margin: 4px;
  padding: var(--size-0_4) var(--size-0_8);
  cursor: pointer;
  text-align: center;
}

:where(button:hover),
:where(button:focus),
:where(input:hover),
:where(textarea:hover),
:where(select:hover) {
  opacity: 0.8;
  transition: var(--transition-delay);
}

:where(button.accent) {
  background: var(--accent);
}

/* Infinite Grid */

:where(section) {
  display: flex;
  /* flex-flow: row wrap; */
  gap: var(--size-1);
  margin-block: var(--size-4);
}

:where(article section) {
  margin-block: var(--size-1);
}

:where([style*="--c:"]),
:where(section > section),
:where(aside),
:where(article) {
  flex: var(--c, 1);
  margin: var(--size-0_5);
}

/* Cards */

:where(article) {
  background: var(--surface-1);
  border-radius: var(--radius);
  padding: var(--size-1) var(--size-2);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, var(--box-shadow-opacity, 0.3));
}

:where([style*="--c:"]:first-child),
:where(section > section:first-child),
:where(article:first-child) {
  margin-left: 0;
}

:where([style*="--c:"]:last-child),
:where(section > section:last-child),
:where(article:last-child) {
  margin-right: 0;
}
