<!DOCTYPE html>
<html data-theme="light">

<head>
  <title>Page Title</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="/assets/css/pico.min.css" />
  <link rel="stylesheet" href="/assets/css/pico.colors.min.css" />
  <link href="/assets/css/styles.css" rel="stylesheet">
  <script type="text/javascript" src="https://cdn.jsdelivr.net/gh/vanjs-org/van/public/van-1.2.8.nomodule.min.js"></script>
</head>

<body>
  <header class="container">
    <nav>
      <ul>
        <li>
          <h1 class="pico-color-jade-600">VanJS Sample Layout</h1>
        </li>
      </ul>
      <ul>
        <li><a href="https://vanjs.org">VanJS</a></li>
      </ul>
    </nav>
  </header>

  <div class="p-16">
    __CONTENT__
  </div>
</body>

</html>